Repository lzwme/simple-mock: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, tslint -c tslint.json --fix, prettier --parser json --write

feat: 移除 chalk 依赖，改用自定义的 color 实现
  .gitignore
  .npmignore
  mock/mockdata/rest_user_666.ts
  package.json
  server/proxy.ts
  server/ws.ts
  server/www.ts
  simple-mock-config-example.js
  src/Logger.ts
  src/config.ts
  src/index.ts
  src/save-api.ts
  src/simple-mock.ts
  src/utils.ts
  types/index.d.ts
  ws-proxy-server/client-assets/index.html
  ws-proxy-server/index.ts
  ws-proxy-server/mock-client.ts
  ws-proxy-server/ws-proxy.ts
Due: prettier --parser typescript --write, tslint -c tslint.json --fix, prettier --parser json --write

chore: 移除 tslint，改用 eslint
  .eslintrc.js
  .lintstagedrc
  .npmignore
  package.json
  src/save-api.ts
  src/simple-mock.ts
  src/utils.spec.ts
  src/utils.ts
  tsconfig.eslint.json
  tslint.json
  types/index.d.ts
Due: prettier --parser typescript --write, tslint -c tslint.json --fix, prettier --parser json --write

chore(release): 1.5.0
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: update for package.json format
  .npmignore
Due: none

fix: 修复 delete require.cache 导致的内存泄漏问题
  src/config.ts
  src/simple-mock.ts
  src/utils.spec.ts
  src/utils.ts
Due: prettier --parser typescript --write, tslint -c tslint.json --fix

chore: update deps
  .husky/commit-msg
  package.json
Due: prettier --parser json --write

chore(release): 1.5.1
  CHANGELOG.md
  package.json
Due: prettier --parser json --write

chore: update deps
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package.json
  publish.bat
  tsconfig.module.json
Due: prettier --parser json --write

chore: update deps
  package.json
Due: prettier --parser json --write

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  tslint -c tslint.json --fix: any of: *.ts
  prettier --parser json --write: any of: *.json
